<%= render partial: 'basic_app' %>

<div class="to_adopt">
<h4>Pets to Adopt:</h4>
<% @application.pets.each do |pet| %>
  <div class= "pet-<%= pet.id %>">
  <%= render partial: 'pet_info', locals: {pet: pet} %>
  </div>
<% end %>
</div>
<% if @application.complete?%>
  <h4>Why would you make a good owner for these pets?:</h4> <%= "#{@application.description}" %><br>
<% elsif @application.has_pets? %>
  <h4>Why would you make a good owner for these pets?:</h4>
  <%= render partial: 'form', locals: {method: :patch, text: :description, button: "Submit Application" } %>
<% end %>
<% if @application.description == nil %>
  <h3>Add a Pet to this Application</h3>
  <h4> Search for:
  <%= render partial: 'form', locals: {method: :get, text: :query, button: "Search" } %>

  <% @pets.each do |pet| %>
    <%= render partial: 'pet_info', locals: {pet: pet} %>
    <% if !@application.pets.include?(pet) %>
      <%= button_to "Adopt this Pet", { controller: :pet_applications, pet_id: pet.id, application_id: "#{@application.id}", action: :create} %><br>
    <% end %>
  <% end %>
<% end %>
